<section class="phone-section">
    <div class="spacer"></div>
    <div class="pinned-container">
        <div class="wrapper">
            <div class="phone-container">
                <div class="phone">
                    <div class="mask">
                        <div class="images">
                            <img src="/_assets/img/how/phone-screen-1.webp" alt="">
                            <img src="/_assets/img/how/phone-screen-2.webp" alt="">
                            <img src="/_assets/img/how/connect-app.gif" alt="">
                        </div>
                    </div>
                    <img src="/_assets/img/how/phone.webp" alt="">
                    <img class="shadow" src="/_assets/img/how/phone-shadow.webp" alt="">
                </div>
            </div>
            <div class="copy-container">
                <div class="swiper copy-slider">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="copy">
                                <picture>
                                    <source srcset="/_assets/svg/sprites/brain-blue.svg" media="(min-width: 760px)">
                                    <img class="image-one" src="/_assets/img/how/mobile-screen-1.webp" alt="" loading="lazy" decoding="async">
                                </picture>
                                <h2>The HPS Brain Gym&trade;</h2>
                                <p>The <strong>HPS Brain Gym&trade;</strong> Program is an integrated solution based on scientific research. We provide evidence-based tools to improve brain health, a network of trained coaches who provide face-to-face and online personal coaching, and a digital platform to promote human connections and further learning. In the simplest terms, HPS Brain Gym&trade; supports your brain health, so burnout is the last thing on your mind. </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="copy">
                                <picture>
                                    <source srcset="/_assets/svg/sprites/flag.svg" media="(min-width: 760px)">
                                    <img src="/_assets/img/how/mobile-screen-2.webp" alt="" loading="lazy" decoding="async">
                                </picture>
                                <h2>The HPS Brain Gym&trade; Coaches</h2>
                                <p>Our team of top behavioral specialists are uniquely trained to improve well-being, and help you build brain health in the service of beating burnout. Each employee user is assigned to a human Coach who guides you through your journey to train your brain. It&rsquo;s a robust process, backed by science at every step. Through regular face-to-face sessions, our HPS Brain Gym&trade; Coaches help you and your people work towards your personal well-being goals.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="copy">
                                <picture>
                                    <source srcset="/_assets/svg/sprites/phone-heart.svg" media="(min-width: 760px)">
                                    <img class="gif-image" src="/_assets/img/how/connect-app-mobile.gif" alt="" loading="lazy" decoding="async">
                                </picture>
                                <h2>The HPS Brain Gym&trade; Connect App</h2>
                                <p>The HPS Brain Gym&trade; Connect App is your portal to the world of HPS Brain Gym&trade;. The Connect App has it all, from surveys about who you are and how you&apos;re feeling to hours of curated well-being content, powered by neuroscience. Employees and Coaches can connect directly through our in-app call and message platform. If you&apos;re feeling sad, nervous, or happy, your Coach is one click away.</p>
                            </div>
                        </div>
                    </div> <!-- /.swiper-wrapper -->
                </div> 
            </div>
        </div> <!-- /.wrapper -->
        <picture class="main-blur">
            <source srcset="/_assets/img/common/bg-blur-large.webp" media="(min-width: 760px)">
            <img class="animated-blur" src="/_assets/img/common/bg-blur-small.webp" alt="">
        </picture>
    </div> <!-- /.pinned-container-->
</section>