<div id="cookies" class="bg-white">
    <p>We use cookies to enhance your browsing experience. By continuing to visit this site, you agree to our use of cookies. <br/>Learn more in our <a href="/privacy-policy">Privacy Policy</a>.</p>

    <div class="btns">
        <a href="#" class="deny-cookies btn">Reject cookies</a>
        <a href="#" class="accept-cookies btn">Accept cookies</a>
    </div>
</div>