<div class="footer">
    <div class="wrapper">
        <a href="/" class="logo"><img src="/_assets/img/_global/logo.webp" alt="HPS Brain Gym"></a>
        <nav>
            <ul >
                <li><a href="/">Why HPS Brain Gym&trade;?</a></li>
                <li><a href="/how-it-works">How it works</a></li>
                <li><a href="/the-science">The science</a></li>
                <li><a href="/start-now">Start now</a></li>
                <li><a href="/train-your-brain">Train your brain</a></li>
                <li><a href="/privacy-policy">Privacy policy</a></li>
                <li><a href="/terms-and-conditions">Terms &amp; conditions</a></li>
            </ul>
        </nav>
        <div class="copyright">
            <a href="mailto:info@HPSBrainGym.com">info@HPSBrainGym.com</a>
            <p>&copy; HPS Brain Gym&trade; HMRS</p>
        </div>
    </div>
</div>